{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI client for {{npmName}}",
  "author": "OpenAPI-Generator Contributors",
  "repository": {
    "type": "git",
    "url": "https://github.com/algorandfoundation/algokit-core.git"
  },
  "keywords": [
    "fetch",
    "typescript",
    "openapi-client",
    "openapi-generator"
  ],
  "license": "Unlicense",
  "type": "commonjs",
  "main": "./dist/cjs/index.js",
  "module": "./dist/esm/index.js",
  "types": "./dist/esm/index.d.ts",
  "exports": {
    ".": {
      "types": "./dist/esm/index.d.ts",
      "import": "./dist/esm/index.js",
      "require": "./dist/cjs/index.js"
    },
    "./models/all": {
      "types": "./dist/esm/models/all.d.ts",
      "import": "./dist/esm/models/all.js",
      "require": "./dist/cjs/models/all.js"
    },
    "./apis/*": {
      "types": "./dist/esm/apis/*.d.ts",
      "import": "./dist/esm/apis/*.js",
      "require": "./dist/cjs/apis/*.js"
    },
    "./*": {
      "types": "./dist/esm/*.d.ts",
      "import": "./dist/esm/*.js",
      "require": "./dist/cjs/*.js"
    }
  },
  "files": [
    "dist"
  ],
  "scripts": {
    "test": "vitest",
    "build": "bun run clean && bun run build:esm && bun run build:cjs",
    "build:esm": "tsc -p tsconfig.esm.json",
    "build:cjs": "tsc -p tsconfig.cjs.json",
    "clean": "rimraf dist",
    "prepare": "bun run build"
  },
  "dependencies": {
    "whatwg-fetch": "^3.0.0",
    "es6-promise": "^4.2.4"
  },
  "devDependencies": {
    "@algorandfoundation/algokit-utils": "^9.0.1",
    "algokit_transact": "file:../algokit_transact",
    "algosdk": "^3.2.0",
    "rimraf": "^6.0.1",
    "typescript": "^5.0.0",
    "vitest": "^3.1.2"
  },
  "publishConfig": {
    "registry": "https://npm.pkg.github.com"
  }
}
